.nav-link {
  color: red;
}

.greeting {
  font-family: "Cumulus", sans-serif;
  text-align: center;
}

h1.greeting {
  padding-top: 150px;
  font-size: 5vw;
}

p.greeting {
  padding-bottom: 150px;
  font-size: 2.5vw;
}
